[Unit]
Description=Node Rest API
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/env npm run start
WorkingDirectory=$WORKING_DIR
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target